body {
  max-width: 1800px;
  margin: auto;
}

header {
  font-size: 46px;
  text-align: center;
}

main {
  display: flex;
  flex-direction: column;
}

#searchbar {
width: 95%;
height: 50px;
font-size: 18px;
}




/* CARTES */

.recipe-list {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: center;
  width: 95%;
}

.recipe-card {
  border: 2px solid black;
  width: 25%;
  height: 480px;
  min-width: 350px;
}

.recipe-img {
  background-color: grey;
  height: 50%;
}

.recipe-header {
  display: flex;
  flex-direction: column;
  background: #E7E7E7;

}

.recipe-main {
  display: flex;
  flex-direction: row;
  background: #E7E7E7;
  justify-content: space-between;
}

.content-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

.title {
  font-size: 18px;
  line-height: 21.6px;
  font-weight: 400;
  font-family: 'Lato';
  display: flex;
  flex-direction: row;
  align-items: center;
  
}

.duration {
  font-family: 'Lato';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 22px;
display: flex;
flex-direction: row;
align-items: center;

}

.clock-img {
  height: 30px;
}

.content-recipe {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100%;
  

}

.content-ingredient {
  display: flex;
  height: 100%;
  width: 50%;
}

.content-description {
  display: flex;
  height: 180px;
  width: 50%;
}

.content-description p {
  white-space: wrap;
  overflow: hidden;
}

.recipe-none {
  text-align: center;
  font-size: 24px;
}
