body {
  max-width: 1440px;
  width: 100%;
  margin: auto;
  font-family: 'Lato', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 12px;
}

.wrapper {
  width: 100%;
  margin-left: 3%;
  margin-right: 3%;

}

header {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-content: center;
}

.main-icon {
  height: 50px;
  width: 50px;
  margin: auto;
  margin-top: 20px;
}

.main-title {
  margin-top: 0px;
  /* font-size: 60px;   */
  color: #D04F4F;
  font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 47px;
}


main {
  display: flex;
  flex-direction: column;
}

#searchbar {
width: 95%;
height: 65px;
font-size: 18px;
border: none;
background-color: #E7E7E7;
border-radius: 5px;
}

#searchbar::placeholder {
  padding-left: 25px;
}


#searchbar:hover {
  border: 2px solid rgb(187, 1, 187);
}

@media screen and (max-width: 1065px) {
  #searchbar {
    width: 85%;
  }

}


@media screen and (max-width: 800px) {

.sort-options {
  /* flex-direction: column; */
  gap: 0
}

.sort-button-all {
  width: 30%;
}

}

.submitSearch {
  position: relative;
  right: 50px;
  top: 8px;
  background: none;
  border: none;
  cursor: pointer;
}



.glass-img {
  height: 30px;
}



/* CARTES */

.recipe-list {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: center;
  width: 95%;
}

.recipe-card {
  border-radius: 10px;
  overflow: hidden;
  width: 30%;
  height: 480px;
  min-width: 350px;
  cursor: pointer;
}

.recipe-img {
  background-color: #C7BEBE;
  height: 50%;
}

.recipe-header {
  display: flex;
  flex-direction: column;
  background: #E7E7E7;
  height: 50%;

}

.recipe-main {
  display: flex;
  flex-direction: row;
  background: #E7E7E7;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0 15px;
}

.content-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

.title {
  font-size: 18px;
  line-height: 21.6px;
  font-weight: 400;
  display: flex;
  flex-direction: row;
  align-items: center;
   padding-left: 10px;
  
  
}

.duration {
  font-family: 'Lato';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 22px;
display: flex;
flex-direction: row;
align-items: center;
padding-right: 10px; 

}

.clock-img {
  height: 30px;
}

.content-recipe {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100%;

}

.content-ingredient {
  display: flex;
  height: 100%;
  width: 50%;
  
}

.ingredients {
  display: flex;
  flex-direction: column;
justify-content: flex-start;
white-space: wrap;
overflow: hidden

  }

  .ingredients p {
    margin: 2px;
   
  }

.content-description {
display: flex;
justify-content: flex-start;
  height: 183px;
  width: 50%;
}

.content-description p {
  /* white-space: wrap;
  overflow: hidden visible; */
  height: 145px;
    /* display: -webkit-box;
    -webkit-line-clamp: 8;
    -webkit-box-orient: vertical;
    overflow: hidden; */
    margin-top: 0;
}

.recipe-none {
  text-align: center;
  font-size: 24px;
}

.arrow-btn {
  background-color: green;
  height: 40px;
}


.arrow {
  color: black
}

